@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
        border: 1px solid #ddd;
    }

    th, td {
        padding: 10px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background: linear-gradient(to bottom, #f2f2f2, #e0e0e0);
    }

    tr:nth-child(even) {
        background: linear-gradient(to bottom, #f9f9f9, #e7e7e7);
    }

    a {
        color: #007bff;
        text-decoration: none;
    }

        a:hover {
            text-decoration: underline;
        }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <table>
        <tr>
            <th>Dag</th>
            <th>Varm Ret</th>
            <th>Kold Ret</th>
        </tr>
        <tr>
            <td>Mandag</td>
            <td>Kylling & Pasta</td>
            <td>Smørrebrød</td>
        </tr>
        <tr>
            <td>Tirsdag</td>
            <td>Pizza</td>
            <td>Salat</td>
        </tr>
        <tr>
            <td>Onsdag</td>
            <td>Bolognese</td>
            <td>Kold suppe</td>
        </tr>
        <tr>
            <td>Torsdag</td>
            <td>Oksesteg</td>
            <td>Koldskål</td>
        </tr>
        <tr>
            <td>Fredag</td>
            <td>Flæskesteg</td>
            <td>Salat</td>
        </tr>
    </table>
</div>